{% extends 'base.html' %}
{% load static %}
{% block css %}
<style>
    .card h5 .btn {
        color: #282828;
        background: #78AAD4;
    }
    .list_style.circle li ul li::before {
        height: 10px;
        width: 10px;
        line-height: 10px;
        font-size: 9px;
        margin: 4px;
    }
</style>
{% endblock css %}
{% block content %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-info text-center">
  {{ message }}
</div>
{% endfor %}
{% endif %}
<!-- {% include "home/partials/banner.html" %} -->
<section class="pb-5" style="background-color:#ddd; min-height: 80vh;">
<div class="container">
    <div class="row">
        <div class="col-md-12 wow fadeInRight"><br>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="blue font-weight-bold mb-4 panel-title text-left">Syllabus</h2>
                </div>
                <div class="panel-body">
                    <div id="accordion">
                        {% for syl in content.syllabus %}
                        <div class="card">
                            <div class="card-header" id="heading{{forloop.counter}}">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse{{forloop.counter}}"
                                        aria-expanded="false" aria-controls="collapse{{forloop.counter}}"
                                        data-toggle="tooltip" data-placement="top" title="Click For Details">
                                        {{syl.section_name}}
                                    </button>
                                </h5>
                            </div>
                            <div id="collapse{{forloop.counter}}" class="collapse" aria-labelledby="heading{{forloop.counter}}" data-parent="#accordion">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="panel-group" id="accordion{{forloop.counter}}">
                                                {% for s in syl.syllabus_sections.all %}
                                                {% if s.slug == "languages-ia-ib" or s.slug == "general-test" %}
                                                <div class="panel panel-default">
                                                    <div class="panel-body">
                                                        {{ s.syllabus_description | safe }}
                                                        <ul class="list-group">
                                                            <a href="{{s.pdfUrl}}" target="_blank" class="list-group-item list-group-item-action list-group-item-secondary"
                                                            data-toggle="tooltip" data-placement="top" title="Download PDF">
                                                                <i class="fa fa-download p-2" aria-hidden="true"></i>
                                                                Download PDF
                                                            </a>
                                                        </ul>
                                                    </div>
                                                </div>
                                                {% else %}
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h4 class="panel-title pl-1 rounded">
                                                            <a data-toggle="collapse" data-parent="#accordion{{forloop.counter}}" href="#collapse{{forloop.counter}}{{forloop.counter}}"
                                                                aria-expanded="false" class="collapsed flex-grow-1 text-body">
                                                                <ul class="list-group">
                                                                    <li class="d-flex justify-content-between list-group-item list-group-item-action list-group-item-secondary" data-toggle="tooltip" data-placement="top" title="Click For Details">
                                                                        <span class="px-2">{{ s.syllabus_name }}</span>
                                                                        <a target="_blank" href="{{s.pdfUrl}}" class="text-body px-2" data-toggle="tooltip" data-placement="top" title="Download PDF"><i class="fa fa-download p-2" aria-hidden="true"></i>Download PDF</a>
                                                                    </li>
                                                                </ul>
                                                            </a>
                                                        </h4>
                                                    </div>
                                                    <div id="collapse{{forloop.counter}}{{forloop.counter}}" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                                        <div class="panel-body">
                                                            {{ s.syllabus_description | safe }}
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endif %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
{% endblock %}
{% block scripts %}

{% endblock %}